:root {
    /* theme */
    --bg-color: #0D0628;
    --bg-secondary : rgba(255, 255, 255, 0.35);
    --bg-card: rgba(255, 255, 255, 0.55);
    --bg-glass-dark: rgba(13, 6, 40, 0.5);
    --bg-glass: rgba(255, 255, 255, 0.15);
  
    /* buttons, cta */
    --bg-button-primary : #9A348E;
    --bg-button-primary-hover: #F9DBBD;
    --bg-button-secondary: var(--bg-secondary);
    --bg-btn-go: #FCA17D;
    --bg-btn-done: #da627d;
    --bg-btn-redo: #9A348E;
    --bg-btn-delete: #9A348E;
    --bg-btn-action-hover: #1B1B3A;
    --bg-btn-corbeille : #7C0B2B;
    --bg-btn-corbeille-hover: #3E000C;


    /* typo */

    --title-main: #F9DBBD;
    --title-secondary: #FCA17D;
    --text-main: #1B1B3A;
    --label-color: rgb(252, 161, 125);
    --text-accent : #3E000C;
    --text-action-sec: #1B1B3A;
    --text-button-primary: white;
    --text-button-primary-hover: #1B1B3A;
    --text-categ: #3E000C;
   
    
    /* border */
    --button-primary-border: #9a348e;
    --column-border: rgba(249, 219, 189, 0.15);
    --task-card-border: #800080;
    --input-border: #800080;
    --border-glass: rgba(154, 52, 142, 0.5);
    --action-sec-border: rgba(218, 98, 125, 0.15);
    --action-sec-border-hover : rgba(218, 98, 125, 0.75);
    
    /* box-shadow */
    --button-secondary-shadow: 0px 0px 0.5rem rgba(128, 0, 128, 0.5);
    --card-shadow-light: 0 0 0.5rem rgba(252, 161, 125, 0.65);
    --card-shadow-light-hover: 0 0 0.6rem rgba(252, 161, 125, 0.95);
    --card-shadow-dark: 0 0 0.5rem rgba(13, 6, 40, 0.75);

}