@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1,h2,h3 {
    font-family: 'Electrolize',sans-serif;
    font-style: normal;
    font-weight: 600;
}
h2 {
    font-size: clamp(1.5rem, 1.75rem, 1.95rem);
}
h3 {
    font-size: clamp(1rem, 1.25rem, 1.3rem);
}
p, .accent,label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    
}
.muted {
    font-size: clamp(0.75rem, 1rem, 1.25rem);
    font-weight: 300;
    font-style: italic;
}
.title-muted {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: clamp(0.75rem, 1rem, 1.25rem);
    font-weight: 500;
}
p {
    font-weight: 400;
    font-size: clamp(0.75rem, 1rem, 1.25rem);
}
.accent {
    font-weight: 500;
    font-size: clamp(0.75rem, 1rem, 1.25rem);
}
label {
    font-size: clamp(0.8rem, 0.85rem, 0.9rem);
    font-weight: 500; 
}
.task-title, .task-date {
    font-size: clamp(1rem, 1.1rem, 1.2rem);
    font-weight: bold; 
}
.task-cat {
    font-size: clamp(0.75rem, 0.8rem, 0.85rem);
}
button {
    font-family: 'Electrolize',sans-serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: clamp(0.85rem, 1rem, 1.15rem);
    font-weight: 600;
}
.btn-action-prim, .btn-action-sec {
    font-size: clamp(0.75rem, 0.8rem, 0.85rem);
}
.btn-vider {
    font-size: clamp(0.85rem, 0.9rem, 0.95rem);
    font-weight: 500;
}
a {
    text-decoration: none;
}